body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  color: #333;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 1px #333 solid;
  margin-top: 40pt;
}

h3 {
  border-bottom: 1px #333 solid;
  margin-top: 20pt;
}

#resultsPanelWrapper, #uploadProgress, #loadingResults {
  display: none;
}

table
{
  font-size: 12px;
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
table th
{
  font-size: 14px;
  font-weight: normal;
  color: #444;
  padding: 10px 8px;
  border-bottom: 2px solid #333;
}
table td
{
  color: #555;
  padding: 9px 8px 0px 8px;
}
table tbody tr:hover td
{
  color: #444;
}
